.list-items {
  list-style: none;
  max-width: 40rem;
  margin: 5rem auto;
  background-color: aliceblue;
  padding: 1rem 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list-item {
  padding: 1rem 2rem;
  border: 1px solid rgba(192, 192, 192, 0.534);
  border-radius: 1rem;
  font-size: 1.2rem;
}
