.input-field {
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.input {
  border: none;
  border: 1px solid silver;
  padding: 0.4rem 1rem;
}
.btn {
  border: none;
  background-color: blueviolet;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
.btn:hover {
  transition: all 0.3s;
  opacity: 0.8;
  cursor: pointer;
}
