.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-width: 20rem;
    margin: 5rem auto;
}
.d-flex
button{
border: none;
padding: 0 1rem;
border-radius: 5px;
background: var(--gradient-primary);
font-size: 2rem;
color: #fff;
}
.number{
    font-size: 1.6rem;
}