.main-card {
  min-width: 20rem;
}
.img-box img {
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
span{
    padding: 0.2rem 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    border-radius: 5px;
    display: inline-block;
    background-color: var(--color-primary);
    font-size: 1.1rem;
    color: #fff;
}

.card-text {
  padding: 2rem 1rem;
  font-size: 1.2rem;
  line-height: 1.6;
  color: #555;
}
.btn {
  float: right;
  margin: 1rem;
  background-color: blueviolet;
  border: none;
  color: #fff;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-bottom: 2rem;
}
.btn:hover{
    opacity: 0.7;
    transition: all 0.3s;
}
